<template>
<<<<<<< HEAD
    <v-row
      justify="center"
      sytle="height: 70vh"
    >
      <v-col
        xl="10"
      >
        <v-card
          style="height: 50vh; position: relative"
        >
          <canvas ref="canvas"></canvas>
        </v-card>
      </v-col>
    </v-row>
=======
  <v-row
    no-gutters
  >
    <v-col
      xl="10"
    >
      <canvas height="400px" ref="canvas"></canvas>
    </v-col>
  </v-row>
>>>>>>> c79b45920086f6607a352d19f5be85bcd34db24c
</template>

<script>
import { Bar } from 'vue-chartjs';
import moment from 'moment';
import { mapState } from 'vuex';

export default {

  extends: Bar,
  data() {
    return {
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
      },
    };
  },
  watch: {
    renderRequest(val) {
      console.log('Rendering charts.');

      if (!val) {
        return;
      }
      console.log('caught renderRequest');

      const chartData = {
        labels: [],
        datasets: [],
      };

      this.$store.state.selCntryIds.forEach((id) => {
        if (id === 'mockId') { return; }
        if (!(id in this.$store.state.selCntryIds)) {
          // This is the problem...
          console.log(`Key ${id} not found.`);
        }
        const rawData = this.$store.state.timelines[id].timelines.confirmed.timeline;
        // Assuming the timelines align.
        if (chartData.labels.length === 0) {
          chartData.labels = Object.keys(rawData).map((x) => moment(x).format('MMM DD, ddd'));
        }
        chartData.datasets.push({
          label: this.$store.state.timelines[id].country,
          data: this.calcDailyDelta(Object.values(rawData)),
          backgroundColor: this.$store.state.colors[id],
          borderWidth: 1,
        });
      });

      this.renderChart(chartData, this.chartOptions);
    },
  },
  computed: {
    ...mapState(['renderRequest']),
    selCntryIds() {
      return this.$store.state.selCntryIds;
    },
  },
  methods: {
    // Calculate daily differences.
    calcDailyDelta(arr) {
      const res = [arr[0]];
      for (let i = 1; i < arr.length; i += 1) {
        const diff = arr[i] - arr[i - 1];
        res.push(
          // If there's less cases than yesterday (people got cured),
          // just put 0; negative values look silly on the graph.
          diff > 0 ? diff : 0,
        );
      }
      return res;
    },
  },
};
</script>
