<template>
    <v-row
<<<<<<< HEAD
      style="height: 10vh"
=======
      no-gutters
>>>>>>> c79b45920086f6607a352d19f5be85bcd34db24c
    >
      <v-col>
        <v-autocomplete
          solo-inverted
          dark
          dense
          v-model="selCntryIds"
          :items="getLocations"
          auto
          multiple
          chips
          label="Pick countries..."
        >
          <template v-slot:selection="data">
            <v-chip
              :input-value="data.selected"
              close
              :color="$store.state.colors[data.item.value]"
              @click:close="removeCntryId(data.item.value)"
            >
              {{ data.item.text }}
            </v-chip>
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>
</template>

<script>

export default {
  beforeMount() {
    this.$store.dispatch('getLocations');
  },
  data() {
    return {
      selCntryIds: [], // v-model of v-autocomplete
    };
  },
  watch: {
    selCntryIds() {
      this.$store.dispatch('updateSelCntryIds', { selCntryIds: this.selCntryIds });
    },
  },
  computed: {
    getLocations() {
      return this.$store.state.locations.map((x) => {
        const provinceTxt = x.province !== '' ? ` (${x.province})` : '';
        return {
          text: `${x.country}${provinceTxt}`,
          value: x.id,
          color: x.color,
        };
      });
    },
  },
  methods: {
    removeCntryId(id) {
      const idx = this.selCntryIds.indexOf(id);
      this.selCntryIds.splice(idx, 1);
      this.$store.dispatch('updateSelCntryIds', { selCntryIds: this.selCntryIds });
    },
  },
};
</script>
