<template>
  <v-app>
    <v-app-bar
      app
    >
      <span
        style="position: absolute"
      >
        confirmed:&nbsp;<b>{{ $store.state.latest.confirmed }}</b>
      </span>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        Corona Charts
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <v-container
<<<<<<< HEAD
        fluid
=======
>>>>>>> c79b45920086f6607a352d19f5be85bcd34db24c
        fill-height
      >
        <Selection></Selection>
        <BarChart></BarChart>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Selection from './components/Selection.vue';
import BarChart from './components/BarChart.vue';

export default {
  name: 'App',
  components: {
    Selection,
    BarChart,
  },
};
</script>

<style>
.v-label {
  color: black!important;
}
</style>
