<template>
    <div class="home">
        <p>
            HOME
        </p>
    </div>
</template>

<script>

    export default {
    }
</script>

<style scoped>
    .home {
        border: 2px solid red;
    }
</style>