<template>
    <div>
        <span>{{ itemData.text }}</span>
        <button @click=emitKillme>killme</button>
    </div>
</template>

<script>
    export default {
        name: "ListItem",
        props: ["itemData"],
        methods: {
            emitKillme() {
                this.$emit('killme', this.itemData.id)
            }
        }
    }
</script>

<style scoped>
    div {
        display: inline-block;
        border-style: solid;
        border-width: 2px;
        width: 100%;
    }
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
    button {
        float: right
    }
</style>