<template>
    <div>
        <div v-for="item in listItems" :key="item.id">
            <ListItem v-bind:itemData="item" v-on:killme="$emit('killme', item.id)"/>
        </div>
    </div>
</template>

<script>
    import ListItem from './ListItem.vue'
    export default {
        name: "List",
        props: ["listItems"],
        components: {
            ListItem,
        },
    }
</script>

<style scoped>
    div {
        width: 50vw;
    }
</style>