<template>
    <div class="lnav">
        <ul>
            <li @click="route('vue-flair')">vue flair</li>
            <li @click="route('home')">home</li>
        </ul>
    </div>
</template>

<script>
    export default {
        methods: {
            route(to) {
                console.log(this.$route.matched)
                if (this.$route.path == "/" + to) {
                    return
                }
                this.$router.push(to)
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    li {
        display: block;
        background-color: #FF0;
        padding: 8px 16px;
    }
    li * {
        text-decoration: none;
    }
    li:hover {
        background-color: #555;
    }
    .lnav {
        float: left;
        height: 100vh;
        width: 160px;
        background-color: #AEC06C;
    }
</style>