<template>
    <div class=topnav>
        <p>topnav</p>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    .topnav {
        padding: 1px;
        width: 100%;
        background-color: #AEC06C;
    } 
</style>