<template>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">My Awesome Page</h1>
        <div id="login">
            <div v-if="this.$root.loggedIn()">
                User: {{ this.$root.storeGet("user") }} <button v-on:click="this.$root.logOut">logout</button>
            </div>
            <div v-else>
                <button v-on:click="login">login</button>
            </div>
        </div>
    </div>
</div>
</div>
</template>

<script>
export default {
    name: "Header",
    methods: {
        login: function() {
            this.$router.push("/login")
        }
    }
}
</script>

<style>
/*
TODO: use navbar instead - takes up less space; also build wireframe before you start coding
*/
</style>
