<template>
<div>
    <h1>Landing page</h1>
    <ul>
        <li><router-link to="/login">login</router-link></li>
        <li><router-link to="/guests">guests</router-link></li>
        <li><router-link to="/restricted">restricted</router-link></li>
    </ul>
</div>
</template>

<script>
export default {
    name: "Landing"
}
</script>