<template>
<div>
    <h1>Login page</h1>
    <input v-model="username" placeholder="username" type="text">
    <button v-on:click="login">Get Token</button>
    <button v-on:click="logout">Delete Token</button>
</div>
</template>

<script>
export default {
    name: "Login",
    data() { return {
        username: ""
    }},
    methods: {
        login: function() {
            if (this.username == "") {
                return
            }
            this.$root.storeSet("user", this.username)
            this.username = ""
            //this.$router.push("/restricted")
            this.$router.go(-1)
        },
        logout: function() {
            this.$root.storeSet("user", null)
        }
    }
}
</script>