<template>
<div>
    <h1>Restricted</h1>
    <p v-if="loggedIn()">Welcome {{ this.$root.storeGet("user") }}, to your private site.</p>
    <p v-else>You need to log in to see this content</p>
</div>
</template>

<script>
export default {
    name: "Restricted",
    methods: {
        loggedIn: function() {
            var ret = this.$root.storeGet("user") != null
            // console.log("loggedIn: " + ret)
            return ret
        }
    }
}
</script>