<template>
  <div>
    <h1>Bench</h1>
    <p>Size of list slice: <input v-model="sliceSize" type="number"/>.</p>
    <p>Time: {{ time }}ms</p>
    <input v-model="filter" type="text" placeholder="filter"/>
    <ol>
      <li v-for="el in subList()">
        {{ el }}
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: "Bench",
  data () { return {
    time: 0,
    filter: "",
    sliceSize: 100,
    list: ["a", "b", "c"],
  }},
  created: function () {
    this.getListSlice()
  },
  watch: {
    sliceSize: function () {
      var MAX_SLICE = 10000
      if (this.sliceSize < 0) { this.sliceSize = 0 }
      else if (this.sliceSize > MAX_SLICE) { this.sliceSize = MAX_SLICE }
      this.getListSlice()
    }
  },
  methods: {
    getListSlice: function () {
      // change "one", "two", "three", "four"
      this.list = this.$root.krizanke["four"].slice(0, this.sliceSize)
    },
    subList: function () {
      var tstart = new Date().getTime()
      var ret = []
      var filter = this.filter
      this.list.forEach(function(el) {
        if (el.indexOf(filter) !== -1) {
          ret.push(el)
        }
      })
      var tend = new Date().getTime()
      this.time = tend - tstart
      return ret
    }
  },
}
</script>
