<template>
  <div>
    Home
    <router-link to="/bench">
      <button>Bench</button>
    </router-link>
    <router-link to="/filter-list">
      <button>FilterList</button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Home",
}
</script>
