<template>
  <div id="app">
    <TopNav></TopNav>
    <div class="middle">
      <LNav class="lnav"></LNav>
      <router-view class="content"></router-view>
    </div>
  </div>
</template>

<script>
  import LNav from "./components/LNav.vue"
  import TopNav from "./components/TopNav.vue"

export default {
  name: 'app',
  components: {
    TopNav,
    LNav,
  }
}
</script>

<style>
  body, html {
    min-height: 100vh;
    margin: 0; padding: 0; border: 0;
  }
  h1 { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }
  .middle > div {
    display: inline-block;
  }
</style>
