<template>
<div>
    <h1>List of parties:</h1>
    <table>
        <tr v-for="party in parties" :key="party.id">
            <td>{{ party.id }}</td>
            <td>{{ party.name }}</td>
            <td><ProsAndCons :party="party"/></td>
            <td class="my-hover" v-on:click="delMe(party)">[x]</td>
        </tr>
    </table>
    <form v-on:submit.prevent="onSubmit">
        <input v-model="new_party" placeholder="new_party" type="text">
    </form>
</div>
</template>

<script>
import ProsAndCons from "./ProsAndCons"

export default {
    name: "PartiesList",
    components: {
        "ProsAndCons": ProsAndCons
    },
    data () { return {
        parties: [],
        new_party: "",
        last_id: 0,
    }},
    methods: {
        newId () {
            this.last_id ++
            return this.last_id - 1
        },
        onSubmit () {
            if (this.new_party !== "") {
                this.parties.push({
                    id: this.newId(),
                    name: this.new_party,
                    pros: [],
                    cons: []
                })
            }
            this.new_party = ""
        },
        delMe (party) {
            var idx = this.parties.indexOf(party)
            this.parties.splice(idx, 1)
        }
    }
}
</script>

<style>
.my-hover:hover {
    cursor: pointer;
}
td {
    padding: 15px;
}
</style>