<template>
<div>
    <ul class="pros">
        <li v-for="el in party.pros">
            {{ el }}
            <span class="my-hover" v-on:click="delMe(pro=true, party)">[x]</span>
        </li>
    </ul>
    <form v-on:submit.prevent="add_argument">
        <input type="text" placeholder="new_pro" v-model="input_pro.msg">
    </form>
    <ul class="cons">
        <li v-for="el in party.cons">
            {{ el }}
            <span class="my-hover" v-on:click="delMe(pro=false, party)">[x]</span>
        </li>
    </ul>
    <form v-on:submit.prevent="add_argument(pro=false)">
        <input type="text" placeholder="new_con" v-model="input_con.msg">
    </form>
</div>
</template>

<script>
export default {
    name: "ProsAndCons",
    data () { return {
        input_pro: { msg: "" },
        input_con: { msg: "" }
    }},
    props: ["party"],
    methods: {
        add_argument(pro=true) {
            var array = (pro ? this.party.pros : this.party.cons)
            var msg = (pro ? this.input_pro : this.input_con)
            array.push(msg.msg)
            msg.msg = ""
        },
        delMe (pro=true, msg) {
            var array = (pro ? this.party.pros : this.party.cons)
            var idx = array.indexOf(msg)
            array.splice(idx, 1)
        }
    }
}
</script>

<style>
.pros {
    color: green;
}

.cons {
    color: red;
}
</style>
