<template>
  <div>
    <h1>Home</h1>
    <ul>
      <li v-for="(item, index) in events" v-bind:key=index>
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import { getData } from '@/api'

export default {
  name: 'Home',
  data () {
    return {
      events: []
    }
  },
  beforeMount () {
    this.events = getData().events
  }
}
</script>
