<template>
<div>
    <h1>TodoList</h1>
    <ul>
    	<li v-for="td in todos">
        {{ td }} 
      </li>
      <form v-on:submit.prevent="onSubmit">
        <input placeholder="new task" v-model="new_task">
      </form>
    </ul>
</div>
</template>

<script>
export default {
  name: "TodoList",
  data () { return {
  	todos: [
  		"derp", "herp"
  	],
    new_task: ""
  }},
  methods: {
    onSubmit () {
      if (this.new_task !== "") {
        this.todos.push(this.new_task) 
        this.new_task = ""
      }
    }
  }
}
</script>