<!-- Everywhere -->
<component-name><component-name>/

component-name
name: ComponentName

props: {
  propName: String
}
<component-name prop-name="hi"/>

<li
  v-for="todo in todos"
  :key="todo.id"
>

never use v-if and v-for in the same element

<style scoped>
  ...
</style>
