<!DOCTYPE html>
<html>

    <!-- doesn't work -->
    <head>
        <title>vue.js guide</title> 
    </head>
    <body>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: "Hello world." 
            }
        })
    </script>
        <div id="app">
            {{ message }}
        </div>
    </body>

</html>
