<template>
<div>
<table>
<tr v-for="(item, $index) in items">
    <td> {{ item.id }} </td>
    <td> {{ item.owner }} </td>
    <td> {{ item.name }} </td>
    <button v-on:click="removeItem($index)">remove</button>
</tr>
<br>
<tr>
    <td></td>
    <td><input type="text" placeholder="owner" v-model="inputOwner"/></td>
    <td><input type="text" placeholder="item name" v-model="inputName"/></td>
    <button v-on:click="addItem">add</button>
</tr>
</table>
</div>
</template>

<script>
export default {
    name: "ItemList",
    data() { return {
        items: [
            { name: "Banana", owner: "KingKong", id: 0 },
            { name: "Orange", owner: "Pidgeon", id: 1 },
            { name: "Clementine", owner: "George Orwell", id: 2 },
        ],
        maxId: 2,
        inputName: "",
        inputOwner: "",
    }},
    methods: {
        removeItem: function (itemIdx) {
            this.items.splice(itemIdx, 1)
        },
        addItem: function () {
            if (this.inputName === "" || this.inputOwner === "") {
                return
            }
            this.maxId += 1
            this.items.push({
                name: this.inputName,
                owner: this.inputOwner,
                id: this.maxId
            })
        }
    }
}
</script>