<template>
    <div class="bbb">
        <h2>{{ data.name }}</h2>
        <p>{{ data.text }}</p>
    </div>
</template>

<script>
export default {
    props: ['data'],
};
</script>

<style scoped>
.bbb {
    border: 5px solid blue;
    margin-top: 5px;
}
</style>