<template>
    <div>
        <h2>Using vuex</h2>
        <button @click="generateProps">Generate Props</button>
        <button @click="$store.commit('modifyDynamicallyGeneratedData')">ModifyDynamicallyGeneratedData</button>
        <table>
            <tr>
                <td>root level</td>
                <td>{{ $store.state.hello }}</td>
            </tr>
            <tr>
                <td>first level</td>
                <td>{{ $store.state.nested1.value }}</td>
            </tr>
            <tr v-for="n in $store.state.nested2" :key="n.name">
                <td>{{ n.name }}</td>
                <td>{{ n.value }}</td>
            </tr>
        </table>
        <Comp
            v-for="component in $store.state.nestedComponents"
            :key="component.name"
            :data="component"
        >
        </Comp>
    </div>
</template>

<script>
import Comp from './Comp';

export default {
    created() {
        this.$store.dispatch('fetchApiData');
    },
    components: {
        Comp
    },
    methods: {
        generateProps() {
            this.$store.commit('generateProps');
        },
    },
};
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
