<template>
    <div>
        <h2>Vanilla</h2>
        <button @click="generateProps">Generate Props</button>
        <button @click="modifyGenerated">Modify generated</button>
        <table>
            <tr>
                <td>root level</td>
                <td>{{ hello }}</td>
            </tr>
            <tr>
                <td>first level</td>
                <td>{{ nested1.value }}</td>
            </tr>
            <tr v-for="n in nested2" :key="n.name">
                <td>{{ n.name }}</td>
                <td>{{ n.value }}</td>
            </tr>
        </table>
        <Comp
            v-for="component in nestedComponents"
            :key="component.name"
            :data="component"
        >
        </Comp>
    </div>
</template>

<script>
import Comp from './Comp';

const generated = "c3";

export default {
    components: {
        Comp
    },
    data() {
        return {
            hello: "Root level.",
            nested1: { value: "First level." },
            nested2: {
                n1: {
                    name: "nn1",
                    value: "Testing a nested property.",
                },
                n2: {
                    name: "nn2",
                    value: "Testing second nested property.",
                },
            },
            nestedComponents: {
                dummy: {
                    name: "dummy",
                    text: "dummy",
                },
                /*
                c1: {
                    name: "nested component 1",
                    text: "testing 123",
                },
                c2: {
                    name: "nested component 2",
                    text: "testing 123",
                },
                */
            }
        };
    },
    methods: {
        // One method is to create a computed property that
        // gets a store value and then to create a watcher on that
        // computed property.

        // The other method is to initialize the object with a dummy structure
        // so vue knows which fields to watch, then replace that dummy
        // structure with our actual objects.
        modifyGenerated() {
            this.nestedComponents[generated].text = "Modified again.";
        },
        generateProps() {
            // First, modify some values.
            this.hello = "Modified.";
            this.nested1.value = "Modified.";
            Object.keys(this.nested2).forEach((key) => {
                this.nested2[key].value = "Modified";
            });

            // Second, add some props (we're expecting failure here).
            this.nested2["n3"] = {
                name: "Added row.",
                value: "Added row.",
            };

            // Adding components
            this.nestedComponents = {
                c3: {
                    name: "generated component",
                    text: "generated text",
                },
            };

            // Change the GENERATED component's properties.
            this.nestedComponents[generated].text = "Modified";

            // Works like a charm...
        },
    },
};
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
