<template>
  <div id="app">
    <PartiesList/>
  </div>
</template>

<script>
import PartiesList from "./components/PartiesList"

export default {
  name: "App",
  components: {
    "PartiesList": PartiesList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  text-align: center;
  */
  color: #2c3e50;
  margin: 60px;
}
</style>
