<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
	<style>

	</style>
	<body>
		<div ng-app="recap" ng-controller="ctl1">
			<input ng-model="input" style="color:{{ input }}" />
		</div>
		<script>
			var app = angular.module("recap", [])
			app.controller("ctl1", function($scope){
				$scope.input =  "red"
			})
		</script>
	</body>
</html>
