<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
	<body>
		<div ng-app="app1" ng-controller="ctl1">
			<input ng-model="name" value="{{name}}"/>
		</div>

		<script>
			var app = angular.module("app1", [])
			app.controller("ctl1", function($scope){
				$scope.name = "default name"
			}) 
		</script>
	</body>	
</html>