<html>

<head>
    <title>Todo app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
        /*todo*/ 
    </style>
</head>

<body>
    <script>
        app = angular.module("todo_app", [])
        app.controller("todo_controller", function($scope) {
            $scope.chores = ["Write an awesome todo app.", "Get 3 high-fives.", "Watch some TV."]
            $scope.add_me = function() {
                if ( $scope.val != null ) {
                    $scope.chores.push($scope.val)
                    $scope.val = null
                }
            }
            $scope.pop_me = function(i) {
                $scope.chores.splice(i, 1)
            }
        })
    </script>

    <h2> Todo list: </h2>
    <div ng-app="todo_app" ng-controller="todo_controller" >
        <ul>
            <li ng-repeat="x in chores track by $index">
                <de ng-click="pop_me($index)">{{ x }}</de> <!--TODO remove item with a click-->
            </li>
        </ul>
        <input ng-model="val" type="tel" pattern="\*d" />
        <button ng-click="add_me()">Add</button>
    </div>
</body>

</html>